body {
  margin: 0;
}

.app {
  min-height: 100vh;
  background-image: url(./assets/grid.png),
    linear-gradient(to top, #f0f2f0 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todo-list {
  background: #ffc600;
  border-radius: 4px;
  max-width: 600px;
  padding: 10px;
}

.todo {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 3px 10px;
}
